/* =============================
   Mountain State Miles - Homepage
   ============================= */

   body.msm-home {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(1010deg, #000000, #050935, #611a06);
    min-height: 100vh;
    display:grid;
    color: #fff;
  }
  
  /* HERO */
  
  .home-hero {
    text-align: center;
    padding: 40px 10px 50px;
    animation: fadeIn 1.3s ease-out;
  }
  
  .home-logo {
    width: 220px;
    filter: drop-shadow(0 8px 25px rgba(0,0,0,.4));
    animation: float 4s ease-in-out infinite;
    border-radius: 20px;
  }
  
  .home-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-top: 15px;
    text-shadow: 0 4px 20px rgba(0,0,0,.3);
  }
  .home-title:hover{
    transform: rotate(35), scale(2);

  }

  
  .home-subtitle {
    font-size: 1.4rem;
    margin-top: 5px;
    opacity: 0.85;
  }
  
  /* MAIN CARDS */
  
  .home-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2px, 600px));
    gap: 10px;
    padding: 1px 4px 5px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  
  
  /* FOOTER */
  
  footer {
    background: linear-gradient(90deg, #030351 0%, #730404 100%);
    color: #dde6ff;
    font-size: 1.09rem;
    box-shadow: 0 -1.5px 20px rgba(2,30,70,0.10);
    padding: 5px 5px;
    margin-top: 62px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align:center
  }
  
  /* ANIMATIONS */
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(25px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
  }
  .links-pages{
    background: rgba(66, 66, 66, 0.12);
    border-radius: 32px;
    padding: 5px 5px;
    text-align: center;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 25px rgba(83, 86, 4, 0.457);
    border: 1px solid rgba(255,255,255,0.18);
    transition: .35s cubic-bezier(.19,.7,.2,1.2);
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    width: 60%;
    margin: 0 auto;
  }
  a {
    color: rgba(255, 105, 180, 0);
  }
  
  .links-pages h3{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .Tracklink h3:hover{
    color:#730404;
    transform:scale(2);
    transition: transform 2s ease-in-out; 

  }
  .CrossCountry h3:hover{
    color:#0e3d08;
    transform:scale(2);
    transition: transform 2s ease-in-out 
  }
  
  